.txtTitleLarger{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}

.txtTitleLarge{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
}

.txtContent{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: rgb(107, 107, 107);
    text-align: center;
}
