.txtTitleLarger{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}

.txtTitleLarge{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
}

.txtContent{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: rgb(107, 107, 107);
    text-align: center;
}

.blogEntry h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    text-align: left;
}

.blogEntry h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: rgb(107, 107, 107);
    max-height: fit-content;
    overflow: hidden;
}

.textoReferencia p{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    text-align: start;
}