
/* DIVISOR HAGSTAG */

.divisorTexto{
    height: 250px;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    display: block;
}

.divisorTexto div{
    max-width: 620px;
    margin: auto;
}

.divisorTexto div h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}

.divisorTexto div h6{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: rgb(107, 107, 107);
    text-align: center;
}

/* DIVISOR REDES SOCIALES */

#RedesSociales{
    height: 380px;
    background-color: rgb(233, 233, 233);
    padding: 48px;
    display: block;
}

#RedesSociales div h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SocialButton{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
    height: 94px;
    width: 94px;
}

.icon{
    height: 94px;
    width: 94px;
    border-radius: 18px;
}

.icon:hover{
    height: 100px;
    width: 100px;
}