.SocialButton{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
    height: 94px;
    width: 94px;
}

.icon{
    height: 94px;
    width: 94px;
    border-radius: 18px;
}

.icon:hover{
    transform: scale(1.05, 1.05);
}