body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif; 
}

.realidad-virtual {
    background-image: url(realidadvirtual.png); 
    background-size: cover;
    background-position: center center;
    height: 100%;
    display: flex;
    align-items: center;
   
    text-align: start;
    color: white;
}

.contenido {
  
    padding: 20px;
    border-radius: 10px;
    max-width: 80%; 
    margin-left: 120px;
    width: 460px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    width: 400px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.boton-info {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 25px;
    transition: border-color 0.3s;
    margin: 5px;
}
.boton-comprar {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #D63D00;
    font-weight: bold;
    border-radius: 25px;
    transition: border-color 0.3s;
    margin: 5px;
}
.boton-info:hover {
    
    outline: 2px solid white;
    outline-offset: 2px;
}

.boton-comprar:hover {
    
    outline: 2px solid #D63D00;
    outline-offset: 2px;
}