
/* body{

    margin: 0;
    background-color: #00439C;
} */

footer{

    margin: 0;
    width: 100vw;

    color: white;
    background-color: #00439C;
    font-size: medium;
}

.site-footer-v2__ps-logo{
    border-bottom: 0.5px solid white;
}

.footer-list > ul{
    list-style-type: none;
    padding: none;

}

.left > a{
    color: white;
    text-decoration: none;
}

.right > a{
    color: white;
    text-decoration: none;
}

.footer-button{

    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: bold;
}

.buttonPlus{
    display: none;
    font-weight: bolder;
    color: white;
}

.grid-footer{

    display: grid;
    gap: 2px;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    border-bottom: 0.5px solid white;
}

.selectedOption{
    display: flex;
    justify-content: space-between;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.redes{

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.logo-sony{
    border-bottom: 0.5px solid white;
}

footer > p{
    font-size: medium;
}

.footer-list-shown{
    display: block;
}

@media (max-width: 769px) {
    .grid-footer{
        display: flex;
        flex-direction: column;
    }
    .footer-list{
        display: none;
    }

    .buttonPlus{
        display: block;
    }
    
    .footer-nav{
        display: flex;
        flex-direction: column;
    }

    .right{
        padding-left: 10px;
        flex-wrap: wrap;
    }
    
}