
body{

    margin: 0;
    background-color: #00439C;
}

footer{

    margin: 0;
    width: 100vw;

    color: white;
    background-color: #00439C;
}

li{
    list-style: none;
    padding: auto;

}

a{
    color: white;
    text-decoration: none;
}

.footer-button{

    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: bold;
}

.grid-footer{

    display: grid;
    gap: 2px;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.redes{

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}