
.header{

    background-color: black;

    width: 100vw;
    height: 5vh;

}

nav{

    display: flex;
    flex-direction: row;
    
    position: sticky;

    align-items: center;

}

.logo{

    padding-left: 85vw;

}

.select-button{

    border: none;
    color: black;
    font-style: bold;

}

.select-button:hover{

    color: #0068bd;
}

body{
    margin: 0;
}

