.header {
  background-color: black;

  width: 100vw;
  height: 5vh;

  display: flex;
  justify-content: end;
  align-items: center;
}

.menumobile {
  display: none;
  position: fixed;
  z-index: 101;
  top: 60px;

  height: calc(100vh - 60px);
  width: 100vw;

  background-color: white;
}

.container-menu-nav{
  display: none;
}

.menu-item {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.menu-item-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.menu-item-left:hover{
  color: #0068bd;
}

.flecha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  padding-right: 47px;
  font-weight: bolder;
}

.flecha:hover{
  color: #0068bd;
}

.logo {
  display: block;
  height: 3vh;
  width: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.izquierda-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  gap: 20px;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
}

.select-button {
  display: inline-block;  /* ws3 */
  border: none;
  color: black;
  font-weight: bold;
  background-color: white;
  font-size: small;
}

.select-button:hover {
  color: #0068bd;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 54px;
  background-color: white;
  color: #0068bd;
  width: 100%;
  height: auto;
  z-index: 10;
}

.dropdown {
  display: block;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content:hover {
  display: flex;
  flex-direction: column;
}

.button-primary {
  margin: 5px;
  border-radius: 15px;
  color: white;
  background-color: #0068bd;
  border-color: transparent;
}

.search {
  margin: 5px;
  border-radius: 5px;
  border-color: transparent;
  background-color: transparent;
}

.search:hover {
  color: #0068bd;
}

.text-links {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.navbarA {
  text-decoration: none;
  color: black;
}

.navbarA:hover {
  color: #0068bd;
}

.add-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px 0px;
  border-bottom: 0.5px solid gray;
}

.nav-list {
  display: flex;
  /*font-weight: bold;*/
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px 15px;
  text-decoration: none;
}

.nav-buttons:hover {
  /*box-shadow: 1px 1px 1px 1px grey;*/
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

/*
.ham-menu {
  display: none;
  height: 50px; /* adjust this value as needed 
  line-height: 50px;
} */

.menuShown{
  display: block;
}


@media (max-width: 769px) {

  .header {
    display: none;
  }

  .dropdown {
    display: none;
  }

  #BotonPS {
    position: absolute;
    top: 0.5;
    right: 45%;
  }

  .search {
    position: absolute;
    top: 7px;
    left: 7%;
    
  }

  .navbar {
    height: 60px;
  }

  .container-menu-nav {
    display: inline-block;
    cursor: pointer;
    padding: 1px;
    height: 60px;
    /*margin-top: 11px;
    margin-left: 5px;*/
    margin: 0px;
    padding: 10px;
    width: 100%;
    
  }

  .container-menu-nav:hover{
    border: solid 3px #0068bd;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #9c9eaea7;
    margin: 9px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

}

@media (min-width: 769px) {
  .menuShown{
    display: none;
  }
}
