/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify;
  background-image: url(backgroundpsplus.png);
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
} */

.card-container {
  width: 70vw;
  height: 20vh;
  padding: 60px 20px;
  margin: auto;

  border-radius: 10px;

  text-align: left;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
}

.card-container > p {
  font-size: 12px;
}