.merchcontainer > .text-container > h2 {
    width: 100%;
}

.section-merch {
    height: max-content;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.merchcontainer {
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.merchcontainer > .text-container {
    margin-right: auto;
    width: 50%;    
}

.logo-merch {
    width: 90px;
    height: 80px;

}

.merchcontainer > .text-container:first-child {
  margin-right:auto;
}


.products-box {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.product {
    width: 22%;
    min-height: 410px;
    min-width: 23ch;
    box-shadow: 0 5px 9px 0 rgba(20, 20, 20, 0.336);
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.text-product {
    padding: 8px;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product > .imageblock{

    width: 90%;
    margin: 15px;
    
    
}

img {
max-width:100%;
max-height:100%;
}

.product > .button-container > .button-red{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.merchcontainer > .button-container > .button-white{
    margin-top: 20px;
    margin-bottom: 50px;
}


@media only screen and (max-width:1210px) {
    .product {
        min-width: 21ch;
    }
    
}

@media only screen and (max-width:950px) {
    .products-box {
        flex-wrap: wrap;
        
    }
    .merchcontainer > .text-container{
        width: 100%;
    }

  
}


@media only screen and (max-width: 582px) {
    .products-box{
        flex-direction: column;
    }
    .product {
        min-width: 25ch;
    }
}