.thismonth {
    display: flex;
    align-items: center; /* Vertically center the content if needed */
}

.thismonthcontainer {
    position: relative;
}

.thismonthpurple {
    background-color: #1E1E3F;
    width: 100vw; /* Adjust the width as needed */
    height: 40vh;
    position: absolute;
    top: 75%;
}

.thismonthinimg {
    width: 100vw; /* Adjust the width as needed */
    height: 60vh;
    margin: 0;
}