/* [CARDS PSBLOG] */
/* luis */ /* requieren diseño especifico */

.blogEntry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 20px;
    border: 1px;
    border-color: transparent;
    border-radius: 15px;
    box-shadow: 0px 3px 5px 3px gray;
  }
  
        .blogEntry > img{
            display: block;
            margin: 10px;
            width: auto;
            border-radius: inherit;
        }
  
  .blogEntryText{
    display: block;
    margin: 10px;
    height: fit-content;
  }
  
        .blogEntryText h2{
            display: block;
            width: inherit;
        }
        
        .blogEntryText h6{
            height: 100px;
        }
  
  .referencia{
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  
  .referencia img{
    display: block;
    margin: 10px;
    max-width: 50px;
    max-height: 50px;
    flex-grow: 0;
  }
  
  .textoReferencia{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 10px;
  }
  